@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
}
  
.header-container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.027) 0%, rgba(0, 0, 0, 0.819) 100%);
    color: #f1f1f1;
    position: fixed;
    width: 100%;
    top: 0;
    height: auto;
    min-height: 70px;
    z-index: 2;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 6% 0 3%;
}

.header-container .netflix-logo {
    height: 2.3vw;
    max-height: 30px;
    min-height: 18px;
}

.header-container ul {
    list-style: none;
    display: flex;
    padding-left: 1.96%;
}

.header-container ul li {
    padding: 0 1.5%;
    min-width: fit-content;
}

.header-container ul li a {
    color: #e3e3e3;
    font-size: 14px;
    text-decoration: none;
    padding-right: 6px;
}

.header-container .main-nav-menu .dropdown .alt-safe-space {
    display: none;
}

.header-container .main-nav-menu .dropdown .alt-nav-button {
    display: none;
}

.header-container .main-nav-menu .dropdown .alt-menu-items {
    display: none;
}

.header-container .main-nav-menu .active-nav-element {
    color: #ffffff;
    font-weight: bold;
}

.header-container .end-nav-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 6%;
}

.header-container .end-nav-menu .end-nav-element {
    height: 2vw;
    min-height: 32px;
    width: 2vw;
    min-width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 14px;
}

.search-icon {
    position: relative;
    height: 50px;
    padding-right: 8px;
}
  
.search-icon .input {
    background-color: transparent;
    font-size: 14px;
    border: none;
    height: 0px;
    width: 0px;
    transition: width 0.3s ease, transform 0.3s ease;
    color: #e3e3e3;
    padding-left: 50px;
}
  
.btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease;
}
  
.btn:focus, .input:focus {
    outline: none;
}
  
.search-icon.active .input {
    background-color: #1a1a1a;
    margin-top: 4px;
    width: 220px;
    height: 36px;
    border: 1px solid #f1f1f1;
    transform: translateX(-120px);
}
  
.search-icon.active .btn {
    transform: translateX(-120px);
}

.header-container .end-nav-menu .end-nav-element div .bx-search{
    font-size: 27px;
    color: #f1f1f1;
}

.header-container .end-nav-menu .end-nav-element div .bx-bell{
    font-size: 22px;
    padding-right: 10px;
    cursor: pointer;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon:hover .bxs-down-arrow {
    transition: 0.5s;
    transform: rotate(180deg);
    padding-right: 10px;
    padding-left: 0;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 5px;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon i {
    font-size: 10px;
    padding-left: 10px;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area {
    display: flex;
    position: absolute;
    height: 270px;
    width: 220px;
    top: 0;
    margin-top: 2.4%;
    right: 0;
    margin-right: 11%;
    background-color: rgba(255, 0, 0, 0.295);
    align-items: end;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 250px;
    width: 100%;
    background-color: rgba(0, 128, 0, 0.603);
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul i {
    height: 30px;
    width: 30px;
    font-size: 24px;
}

#alt-profile {
    padding-left: 16px;
    padding-top: 12px;
}

#alt-profile-image {
    margin-right: 16px;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul {
    flex-direction: column;
    background-color: #000000;
    height: 95%;
    width: 100%;
    justify-content: space-between;
    padding: 0;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul li {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul .disconnect {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #8d8d8d;
    border-top-style: solid;
    height: 40px;
    width: 100%;
}

.header-container .end-nav-menu .end-nav-element .profile-menu-icon .profile-menu-area .profile-menu ul li:hover a {
    text-decoration: underline;
}

.movie-promotion-container {
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
}

.movie-promotion-container .movie-promotion-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.movie-promotion-container .movie-promotion-infos {
    position: absolute;
    top: 0;
    margin-top: 16%;
    margin-left: 3%;
    width: 100%;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-logo img {
    height: 10vw;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-synopsis p {
    max-width: 36%;
    font-size: 1.2vw;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons {
    height: 3vw;
    width: 23.2vw;
    display: inline-flex;
    justify-content: space-between;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons .action-buttons {
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons .play {
    background-color: #fffffff4;
    color: #000000;
    font-size: 1.2vw;
    font-weight: 700;
    width: 44%;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons #play-icon {
    font-size: 3.5vw;
    margin-left: -23px;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons .more-infos {
    background-color: #565656c6;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 700;
    width: 52%;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-buttons #infos-icon{
    font-size: 2vw;
    margin-right: 5%;
}

.movie-promotion-container .movie-promotion-infos .movie-promotion-age-restriction {
    align-items: center;
    bottom: .1%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    background-color: rgba(63, 63, 63, 0.518);
    height: 1.4vw;
    width: 5vw;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
    border: 3px #dcdcdc;
    border-left-style: solid;
    font-size: 1.1vw;
}

@media only screen and (max-width: 930px) {

    .header-container .main-nav-menu .main-nav-element {
      display: none;
    }

    .header-container .main-nav-menu .dropdown:hover .alt-menu-items,
    .header-container .main-nav-menu .dropdown .alt-menu-items:hover,
    .header-container .main-nav-menu .dropdown:hover .alt-safe-space {
        display: flex;
    }

    .header-container .main-nav-menu .dropdown:hover .alt-safe-space {
        position: absolute;
        height: 40px;
        width: 250px;
        left: 0;
        top: 0;
        margin-top: 4%;
        margin-left: 3%;
    }

    .header-container .main-nav-menu .dropdown:hover .alt-menu-items {
        flex-direction: column;
        position: absolute;
        background-color: #000000d3;
        width: 250px;
        left: 0;
        margin-left: 3%;
        margin-top: 3%;
        align-items: center;
        padding: 0;
        border: 2px #dcdcdc;
        border-top-style: solid;
        cursor: pointer;
    }

    .header-container .main-nav-menu .dropdown .alt-menu-items li:hover a {
        color: #a7a7a7;
    }

    .header-container .main-nav-menu .dropdown .alt-menu-items li {
        padding: 15px 0 15px 0;
    }

    .header-container .main-nav-menu .dropdown .alt-nav-button {
        display: flex;
        font-size: 1vw;
        font-weight: bold;
        align-items: center;
    }

    .header-container .main-nav-menu .dropdown .alt-nav-button i{
        padding-left: 10%;
    }
}